In [3]:
import plotly
import pandas as pd
# Load data
df = pd.read_csv(
    "https://raw.githubusercontent.com/IanHung0109/data/main/test20230810-2.csv")
df.columns = [col.replace("AAPL.", "") for col in df.columns]

In [1]:
%pip install plotly

Requirement already satisfied: plotly in c:\users\user\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import plotly
import pandas as pd
# Load data
df = pd.read_csv(
    "https://raw.githubusercontent.com/IanHung0109/data/main/test20230810-2.csv")
df.columns = [col.replace("AAPL.", "") for col in df.columns]

In [3]:
df.head()

,Date,Open,High,Low,Close,Volume,Adjusted,dn,mavg,up,direction
0,2015-02-17,127.489998,128.880005,126.919998,127.830002,63152400,122.905254,106.741052,117.927667,129.114281,Increasing
1,2015-02-18,127.629997,128.779999,127.449997,128.720001,44891700,123.760965,107.842423,118.940333,130.038244,Increasing
2,2015-02-19,128.479996,129.029999,128.330002,128.449997,37362400,123.501363,108.894245,119.889167,130.884089,Decreasing
3,2015-02-20,128.619995,129.500000,128.050003,129.500000,48948400,124.510914,109.785449,120.763500,131.741551,Increasing
4,2015-02-23,130.020004,133.000000,129.660004,133.000000,70974100,127.876074,110.372516,121.720167,133.067817,Increasing

In [1]:
import plotly
import pandas as pd
# Load data
df = pd.read_csv(
    "https://raw.githubusercontent.com/IanHung0109/data/main/test20230810-2.csv")
df.columns = [col.replace("AAPL.", "") for col in df.columns]